In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
bom_df = pd.read_csv('./zippedData/bom.movie_gross.csv')

bom_df.head()

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
3,Inception,WB,292600000.0,535700000,2010
4,Shrek Forever After,P/DW,238700000.0,513900000,2010

In [28]:
tmdb_df = pd.read_csv('./zippedData/tmdb.movies.csv')

tmdb_df.head()

,Unnamed: 0,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
0,0,"[12, 14, 10751]",12444,en,Harry Potter and the Deathly Hallows: Part 1,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788
1,1,"[14, 12, 16, 10751]",10191,en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610
2,2,"[12, 28, 878]",10138,en,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368
3,3,"[16, 35, 10751]",862,en,Toy Story,28.005,1995-11-22,Toy Story,7.9,10174
4,4,"[28, 878, 12]",27205,en,Inception,27.920,2010-07-16,Inception,8.3,22186

In [22]:
bom_tmdb_df = pd.merge(bom_df, tmdb_df, on = 'title', how = 'inner')

bom_tmdb_df.head()

,title,studio,domestic_gross,foreign_gross,year,Unnamed: 0,genre_ids,id,original_language,original_title,popularity,release_date,vote_average,vote_count
0,Toy Story 3,BV,415000000.0,652000000,2010,7,"[16, 10751, 35]",10193,en,Toy Story 3,24.445,2010-06-17,7.7,8340
1,Inception,WB,292600000.0,535700000,2010,4,"[28, 878, 12]",27205,en,Inception,27.920,2010-07-16,8.3,22186
2,Shrek Forever After,P/DW,238700000.0,513900000,2010,38,"[35, 12, 14, 16, 10751]",10192,en,Shrek Forever After,15.041,2010-05-16,6.1,3843
3,The Twilight Saga: Eclipse,Sum.,300500000.0,398000000,2010,15,"[12, 14, 18, 10749]",24021,en,The Twilight Saga: Eclipse,20.340,2010-06-23,6.0,4909
4,Iron Man 2,Par.,312400000.0,311500000,2010,2,"[12, 28, 878]",10138,en,Iron Man 2,28.515,2010-05-07,6.8,12368

In [8]:
bom_df.shape

(3387, 5)

In [9]:
tmdb_df.shape

(26517, 10)

In [11]:
bom_tmdb_df.shape

(2703, 14)

In [12]:
wiki_plot_df = pd.read_csv('./zippedData/wiki_movie_plots_deduped.csv')

wiki_plot_df.head()

,Release Year,Title,Origin/Ethnicity,Director,Cast,Genre,Wiki Page,Plot
0,1901,Kansas Saloon Smashers,American,Unknown,NaN,unknown,https://en.wikipedia.org/wiki/Kansas_Saloon_Sm...,"A bartender is working at a saloon, serving dr..."
1,1901,Love by the Light of the Moon,American,Unknown,NaN,unknown,https://en.wikipedia.org/wiki/Love_by_the_Ligh...,"The moon, painted with a smiling face hangs ov..."
2,1901,The Martyred Presidents,American,Unknown,NaN,unknown,https://en.wikipedia.org/wiki/The_Martyred_Pre...,"The film, just over a minute long, is composed..."
3,1901,"Terrible Teddy, the Grizzly King",American,Unknown,NaN,unknown,"https://en.wikipedia.org/wiki/Terrible_Teddy,_...",Lasting just 61 seconds and consisting of two ...
4,1902,Jack and the Beanstalk,American,"George S. Fleming, Edwin S. Porter",NaN,unknown,https://en.wikipedia.org/wiki/Jack_and_the_Bea...,The earliest known adaptation of the classic f...

In [14]:
wiki_plot_df.rename(columns = {'Title':'title'}, inplace = True)

wiki_plot_df.head()

,Release Year,title,Origin/Ethnicity,Director,Cast,Genre,Wiki Page,Plot
0,1901,Kansas Saloon Smashers,American,Unknown,NaN,unknown,https://en.wikipedia.org/wiki/Kansas_Saloon_Sm...,"A bartender is working at a saloon, serving dr..."
1,1901,Love by the Light of the Moon,American,Unknown,NaN,unknown,https://en.wikipedia.org/wiki/Love_by_the_Ligh...,"The moon, painted with a smiling face hangs ov..."
2,1901,The Martyred Presidents,American,Unknown,NaN,unknown,https://en.wikipedia.org/wiki/The_Martyred_Pre...,"The film, just over a minute long, is composed..."
3,1901,"Terrible Teddy, the Grizzly King",American,Unknown,NaN,unknown,"https://en.wikipedia.org/wiki/Terrible_Teddy,_...",Lasting just 61 seconds and consisting of two ...
4,1902,Jack and the Beanstalk,American,"George S. Fleming, Edwin S. Porter",NaN,unknown,https://en.wikipedia.org/wiki/Jack_and_the_Bea...,The earliest known adaptation of the classic f...

In [15]:
bom_tmdb_wiki_df = pd.merge(bom_tmdb_df, wiki_plot_df, on = 'title', how = 'inner')

bom_tmdb_wiki_df.head()

,title,studio,domestic_gross,foreign_gross,year,Unnamed: 0,genre_ids,id,original_language,original_title,...,release_date,vote_average,vote_count,Release Year,Origin/Ethnicity,Director,Cast,Genre,Wiki Page,Plot
0,Toy Story 3,BV,415000000.0,652000000,2010,7,"[16, 10751, 35]",10193,en,Toy Story 3,...,2010-06-17,7.7,8340,2010,American,Lee Unkrich,"Tom Hanks, Tim Allen, Joan Cusack, Ned Beatty,...",family,https://en.wikipedia.org/wiki/Toy_Story_3,Seventeen-year-old Andy[11] is about to leave ...
1,Inception,WB,292600000.0,535700000,2010,4,"[28, 878, 12]",27205,en,Inception,...,2010-07-16,8.3,22186,2010,American,Christopher Nolan,"Leonardo DiCaprio, Ken Watanabe, Joseph Gordon...",science fiction,https://en.wikipedia.org/wiki/Inception,"Dominick ""Dom"" Cobb and Arthur are ""extractors..."
2,Shrek Forever After,P/DW,238700000.0,513900000,2010,38,"[35, 12, 14, 16, 10751]",10192,en,Shrek Forever After,...,2010-05-16,6.1,3843,2010,American,Mike Mitchell,"Mike Myers, Eddie Murphy, Cameron Diaz, Antoni...","family, fantasy",https://en.wikipedia.org/wiki/Shrek_Forever_After,Shrek has grown steadily tired of being a fami...
3,The Twilight Saga: Eclipse,Sum.,300500000.0,398000000,2010,15,"[12, 14, 18, 10749]",24021,en,The Twilight Saga: Eclipse,...,2010-06-23,6.0,4909,2010,American,David Slade,"Kristen Stewart, Robert Pattinson, Taylor Laut...",fantasy romance,https://en.wikipedia.org/wiki/The_Twilight_Sag...,"In Seattle, not far from Forks, Victoria is st..."
4,Iron Man 2,Par.,312400000.0,311500000,2010,2,"[12, 28, 878]",10138,en,Iron Man 2,...,2010-05-07,6.8,12368,2010,American,Jon Favreau,"Robert Downey Jr., Don Cheadle, Mickey Rourke,...",superhero,https://en.wikipedia.org/wiki/Iron_Man_2,"In Russia, the media covers Tony Stark's discl..."

In [23]:
bom_tmdb_wiki_df.columns

Index(['title', 'studio', 'domestic_gross', 'foreign_gross', 'year',
       'Unnamed: 0', 'genre_ids', 'id', 'original_language', 'original_title',
       'popularity', 'release_date', 'vote_average', 'vote_count',
       'Release Year', 'Origin/Ethnicity', 'Director', 'Cast', 'Genre',
       'Wiki Page', 'Plot'],
      dtype='object')

In [20]:
bom_tmdb_wiki_df.shape

(1903, 21)

In [16]:
mpst_df = pd.read_csv('./zippedData/mpst-movie-plot-synopses-with-tags/mpst_full_data.csv')

mpst_df.head()

,imdb_id,title,plot_synopsis,tags,split,synopsis_source
0,tt0057603,I tre volti della paura,Note: this synopsis is for the orginal Italian...,"cult, horror, gothic, murder, atmospheric",train,imdb
1,tt1733125,Dungeons & Dragons: The Book of Vile Darkness,"Two thousand years ago, Nhagruul the Foul, a s...",violence,train,imdb
2,tt0033045,The Shop Around the Corner,"Matuschek's, a gift store in Budapest, is the ...",romantic,test,imdb
3,tt0113862,Mr. Holland's Opus,"Glenn Holland, not a morning person by anyone'...","inspiring, romantic, stupid, feel-good",train,imdb
4,tt0086250,Scarface,"In May 1980, a Cuban man named Tony Montana (A...","cruelty, murder, dramatic, cult, violence, atm...",val,imdb

In [24]:
bom_tmdb_mpst_df = pd.merge(bom_tmdb_df, mpst_df, on = 'title', how = 'inner')

bom_tmdb_mpst_df.head()

,title,studio,domestic_gross,foreign_gross,year,Unnamed: 0,genre_ids,id,original_language,original_title,popularity,release_date,vote_average,vote_count,imdb_id,plot_synopsis,tags,split,synopsis_source
0,Toy Story 3,BV,415000000.0,652000000,2010,7,"[16, 10751, 35]",10193,en,Toy Story 3,24.445,2010-06-17,7.7,8340,tt0435761,Andy Davis (voice: John Morris) is 17 years ol...,"comedy, boring, violence, flashback, good vers...",train,imdb
1,Inception,WB,292600000.0,535700000,2010,4,"[28, 878, 12]",27205,en,Inception,27.920,2010-07-16,8.3,22186,tt1375666,"A young man, exhausted and delirious, washes u...","boring, neo noir, murder, sentimental, fantasy...",val,imdb
2,Shrek Forever After,P/DW,238700000.0,513900000,2010,38,"[35, 12, 14, 16, 10751]",10192,en,Shrek Forever After,15.041,2010-05-16,6.1,3843,tt0892791,The movie begins just before Shrek (voiced by ...,"comedy, fantasy, action",train,imdb
3,The Twilight Saga: Eclipse,Sum.,300500000.0,398000000,2010,15,"[12, 14, 18, 10749]",24021,en,The Twilight Saga: Eclipse,20.340,2010-06-23,6.0,4909,tt1325004,Eclipse opens at nighttime where Riley Biers (...,"paranormal, revenge, murder, entertaining, fla...",train,imdb
4,Iron Man 2,Par.,312400000.0,311500000,2010,2,"[12, 28, 878]",10138,en,Iron Man 2,28.515,2010-05-07,6.8,12368,tt1228705,The movie opens several months after the event...,"good versus evil, revenge, humor, action, murder",train,imdb

In [25]:
bom_tmdb_mpst_df.shape

(1282, 19)

In [22]:
import pandas as pd

imdb_name_df = pd.read_csv('./zippedData/imdb.name.basics.csv')

In [23]:
imdb_name_df.head()

,nconst,primary_name,birth_year,death_year,primary_profession,known_for_titles
0,nm0061671,Mary Ellen Bauder,NaN,NaN,"miscellaneous,production_manager,producer","tt0837562,tt2398241,tt0844471,tt0118553"
1,nm0061865,Joseph Bauer,NaN,NaN,"composer,music_department,sound_department","tt0896534,tt6791238,tt0287072,tt1682940"
2,nm0062070,Bruce Baum,NaN,NaN,"miscellaneous,actor,writer","tt1470654,tt0363631,tt0104030,tt0102898"
3,nm0062195,Axel Baumann,NaN,NaN,"camera_department,cinematographer,art_department","tt0114371,tt2004304,tt1618448,tt1224387"
4,nm0062798,Pete Baxter,NaN,NaN,"production_designer,art_department,set_decorator","tt0452644,tt0452692,tt3458030,tt2178256"

In [24]:
imdb_title_df = pd.read_csv('./zippedData/imdb.title.akas.csv')

imdb_title_df.head()

,title_id,ordering,title,region,language,types,attributes,is_original_title
0,tt0369610,10,Ð”Ð¶ÑƒÑ€Ð°ÑÐ¸Ðº ÑÐ²ÑÑ‚,BG,bg,NaN,NaN,0.0
1,tt0369610,11,Jurashikku warudo,JP,NaN,imdbDisplay,NaN,0.0
2,tt0369610,12,Jurassic World: O Mundo dos Dinossauros,BR,NaN,imdbDisplay,NaN,0.0
3,tt0369610,13,O Mundo dos Dinossauros,BR,NaN,NaN,short title,0.0
4,tt0369610,14,Jurassic World,FR,NaN,imdbDisplay,NaN,0.0

In [25]:
imdb_title_basics_df = pd.read_csv('./zippedData/imdb.title.basics.csv')

imdb_title_basics_df.head()

,tconst,primary_title,original_title,start_year,runtime_minutes,genres
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama"
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama"
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama"
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy"

In [33]:
imdb_title_basics_df.rename(columns = {'primary_title': 'title'}, inplace = True)

In [35]:
tmdb_imdb_df = pd.merge(imdb_title_basics_df, tmdb_df, on = 'title', how = 'inner')

tmdb_imdb_df.head()

,tconst,title,original_title_x,start_year,runtime_minutes,genres,Unnamed: 0,genre_ids,id,original_language,original_title_y,popularity,release_date,vote_average,vote_count
0,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama,24185,"[35, 18]",299782,en,The Other Side of the Wind,9.800,2018-11-02,7.0,64
1,tt0112502,Bigfoot,Bigfoot,2017,NaN,"Horror,Thriller",5872,"[27, 878, 12]",117856,en,Bigfoot,2.813,2012-06-30,2.9,26
2,tt4503112,Bigfoot,Bigfoot,2018,NaN,"Action,Horror",5872,"[27, 878, 12]",117856,en,Bigfoot,2.813,2012-06-30,2.9,26
3,tt9181914,Bigfoot,Bigfoot,2018,86.0,"Animation,Family",5872,"[27, 878, 12]",117856,en,Bigfoot,2.813,2012-06-30,2.9,26
4,tt0192528,Heaven & Hell,Reverse Heaven,2018,104.0,Drama,26332,[18],567662,en,Heaven & Hell,0.600,2018-11-06,7.5,2

In [36]:
imdb_title_ratings_df = pd.read_csv('./zippedData/imdb.title.ratings.csv')

imdb_title_ratings_df.head()

       tconst  averagerating  numvotes
0  tt10356526            8.3        31
1  tt10384606            8.9       559
2   tt1042974            6.4        20
3   tt1043726            4.2     50352
4   tt1060240            6.5        21

In [37]:
rating_tmdb_imdb_df = pd.merge(tmdb_imdb_df, imdb_title_ratings_df, on='tconst', how = 'inner')

In [38]:
rating_tmdb_imdb_df.head()

,tconst,title,original_title_x,start_year,runtime_minutes,genres,Unnamed: 0,genre_ids,id,original_language,original_title_y,popularity,release_date,vote_average,vote_count,averagerating,numvotes
0,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama,24185,"[35, 18]",299782,en,The Other Side of the Wind,9.800,2018-11-02,7.0,64,6.9,4517
1,tt0112502,Bigfoot,Bigfoot,2017,NaN,"Horror,Thriller",5872,"[27, 878, 12]",117856,en,Bigfoot,2.813,2012-06-30,2.9,26,4.1,32
2,tt4503112,Bigfoot,Bigfoot,2018,NaN,"Action,Horror",5872,"[27, 878, 12]",117856,en,Bigfoot,2.813,2012-06-30,2.9,26,4.6,9
3,tt9181914,Bigfoot,Bigfoot,2018,86.0,"Animation,Family",5872,"[27, 878, 12]",117856,en,Bigfoot,2.813,2012-06-30,2.9,26,2.5,55
4,tt0192528,Heaven & Hell,Reverse Heaven,2018,104.0,Drama,26332,[18],567662,en,Heaven & Hell,0.600,2018-11-06,7.5,2,4.0,72

In [2]:
import pandas as pd

imdb_title_crew_df = pd.read_csv('./zippedData/imdb.title.crew.csv')

imdb_title_crew_df.head()

      tconst                      directors              writers
0  tt0285252                      nm0899854            nm0899854
1  tt0438973                            NaN  nm0175726,nm1802864
2  tt0462036                      nm1940585            nm1940585
3  tt0835418                      nm0151540  nm0310087,nm0841532
4  tt0878654  nm0089502,nm2291498,nm2292011            nm0284943

In [4]:
imdb_name_basic_df = pd.read_csv('./zippedData/imdb.name.basics.csv')

imdb_name_basic_df.head()

,nconst,primary_name,birth_year,death_year,primary_profession,known_for_titles
0,nm0061671,Mary Ellen Bauder,NaN,NaN,"miscellaneous,production_manager,producer","tt0837562,tt2398241,tt0844471,tt0118553"
1,nm0061865,Joseph Bauer,NaN,NaN,"composer,music_department,sound_department","tt0896534,tt6791238,tt0287072,tt1682940"
2,nm0062070,Bruce Baum,NaN,NaN,"miscellaneous,actor,writer","tt1470654,tt0363631,tt0104030,tt0102898"
3,nm0062195,Axel Baumann,NaN,NaN,"camera_department,cinematographer,art_department","tt0114371,tt2004304,tt1618448,tt1224387"
4,nm0062798,Pete Baxter,NaN,NaN,"production_designer,art_department,set_decorator","tt0452644,tt0452692,tt3458030,tt2178256"

In [6]:
imdb_title_prin_df = pd.read_csv('./zippedData/imdb.title.principals.csv')

imdb_title_prin_df.head(10)

,tconst,ordering,nconst,category,job,characters
0,tt0111414,1,nm0246005,actor,NaN,"[""The Man""]"
1,tt0111414,2,nm0398271,director,NaN,NaN
2,tt0111414,3,nm3739909,producer,producer,NaN
3,tt0323808,10,nm0059247,editor,NaN,NaN
4,tt0323808,1,nm3579312,actress,NaN,"[""Beth Boothby""]"
5,tt0323808,2,nm2694680,actor,NaN,"[""Steve Thomson""]"
6,tt0323808,3,nm0574615,actor,NaN,"[""Sir Lachlan Morrison""]"
7,tt0323808,4,nm0502652,actress,NaN,"[""Lady Delia Morrison""]"
8,tt0323808,5,nm0362736,director,NaN,NaN
9,tt0323808,6,nm0811056,producer,producer,NaN